@font-face {
    font-family: AvenirNextLTPro-Heavy;
    src: url(../css/AvenirNextLTPro-Heavy.woff)
  }

a {
  color: black;
}

#nav-font {
    font-family: AvenirNextLTPro-Heavy;
  }

#checkout-font {
  font-family: AvenirNextLTPro-Heavy;
}

  .icons {
    display: flex;
    flex-direction: row;
  }
  
  .icon-block {
    color: black;
    cursor: pointer;
    margin: 15px;
  }

  #checkout-button {
    background-color: black;
    border: 2px solid black !important;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block !important;
    font-size: 16px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  
  #checkout-button:hover {
    background-color: white;
    color: black;
  }