/* Pen-specific styles */
html, body, section {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Pattern styles */
  .container {
    display: flex;
  }

  .rent {
    color: yellow;
    text-align: right;

  }

  .list {
      color: black;
      text-align: left;
  }
  
  .left-container {
    background-color: black;
    color: yellow;
    flex: 1;
    padding: 1rem;
  }
  
  .right-container {
    background-color: yellow;
    flex: 1;
    padding: 1rem;
  }

  p {
      text-align: center;
  }

  buttonRent {
      max-width: 50px;
      margin: 0 auto;
  }

  buttonList {
    max-width: 50px;
    margin: 0 auto;
}

/* rent.html */ 

  #searchBar {
  align-content: center;
  justify-content: center;
  height: 300px;
}

  #searchButton {
    color: black;
    border-color: black;
  }

  #searchForm {
    width: 500px;
  }

/* login.html */

#owner-username {
  width: 100%;
}

#owner-password {
  width: 100%;
}

.login-container {
  display: flex;
  margin-top: 50px;
}

#login-form {
  margin: auto;
}

#login-button {
  width: 100px;
  margin-bottom: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon-block {
  color: black;
  cursor: pointer;
  margin: 15px;
}




/* List Products Page */

.list-container{
  flex-wrap: wrap;
}

.product-card{
  width: 30%;
  border: 1px solid gray;

}

.product-card-body{
  text-align: center;
}

.product-image{
  max-width: 100%;
}